/* aiintegration.css */
.ai-integration-page {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: azure;
  }
  
  .responsebox{
      width: 100%;
      margin-bottom: 10px;
  }
  
  .submitAns {
    background-color: #007bff;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submitAns:hover {
    background-color: #0056b3;
  }
  .text{
    color: black;
    margin-bottom: 550px;
    font-size: 50px;
    font-family:Apple Chancery, cursive;
    font-weight:bold;
  }
  .header{
    color: black;
    margin-bottom: 50px;
    font-size: 75px;
    font-family:Apple Chancery, cursive;
    font-weight:bold;
  }
  .recipe{
    color: black;
    margin-bottom: 50px;
    font-size: 30px;
    font-family:Apple Chancery, cursive;
    font-weight:bold;
  }
  .t {
    color: rgb(0, 0, 0); /* Or any color you want */
    font-style: cursive;
  }
