.App {
  text-align: center;
  background-image: url("/Users/gracegulick/Cisc Stuff/HenHacks2025/henhack25/src/medieval-village-scene-with-castle-background_1639-28493.avif");
  background-size: cover;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: red;
}

.text{
  color: black;
  margin-bottom: 550px;
  font-size: 50px;
  font-family:Apple Chancery, cursive;
  font-weight:bold;
}

.div1 {
  position: relative; /* This makes .buttonHome positioned relative to .div1 */
  height: 100vh; /* Full page height to allow movement */
}

.ButtonRecipes {
  position: absolute;
  top: 10%; /* Moves the button higher */
  left: 10%;
  transform: translateX(-50%);
  margin-top: 200px;
  size: 80px;
  padding: 24px 0px;
  font-size: 20px;
  border-radius: 50px;
  font-family:Apple Chancery, cursive;

  display: flex;
  justify-content: left; /* Centers text horizontally */
  align-items: left; /* Centers text vertically */
  text-align: center; /* Ensures proper text alignment */

  width: 60%; /* Makes button as wide as its container */
  color:white;
  background-color:darkolivegreen
  
}

.ButtonRecipes:hover {
  background-color: darkslategrey; /* Darker gradient */
  color: white;
  transform: translate(-50%, -3px); /* Slight lift effect */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.ButtonRecipes:active {
  transform: translate(-50%, 1px); /* Press-down effect */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


.ButtonMap {
  position: absolute;
  top: 10%; /* Moves the button higher */
  left: 80%;
  transform: translateX(-50%);
  margin-top: 200px;
  size: 80px;
  padding: 24px 0px;
  font-size: 20px;
  border-radius: 50px;
  font-family:Apple Chancery, cursive;

  display: flex;
  justify-content: right; /* Centers text horizontally */
  align-items: right; /* Centers text vertically */
  text-align: center; /* Ensures proper text alignment */

  width: 60%; /* Makes button as wide as its container */
  color:white;
  background-color:darkolivegreen
  
}

.ButtonMap:hover {
  background-color: darkslategrey; /* Darker gradient */
  color: white;
  transform: translate(-50%, -3px); /* Slight lift effect */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.ButtonMap:active {
  transform: translate(-50%, 1px); /* Press-down effect */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}